@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    123 Nunya Blvd<br />
    Where, WA 98001-0001<br />
    <abbr title="Phone">P:</abbr>
    425.555.1100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Development:</strong> <a href="mailto:Development@example.com">Development@example.com</a>
</address>
