@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Patient Monitoring System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Patient XX</h2>
        <p>
            Patient Monitoring System provides home-based monitoring services for the Healthcare industry.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed sample project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/popandpeek/SANoAuthFinalProj">See project source code &raquo;</a></p>
    </div>
</div>